@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.calculator{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#61d6f3,#ffce79);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 0px;
}

h1{
    color: rgba(0, 0, 0, 0.674);
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    color: rgb(0, 0, 0);
    margin: 10px;
}

input{
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    font-size: 18px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: blue;
    font-weight: 999;
}

p{
    color: rgb(0, 0, 0);
    margin-top: 20px;
}