/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900); */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
    box-sizing: inherit;
    transition-property: all;
    /* transition-duration: 0.6s; */
    transition-timing-function: ease;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background: #000000;
    font-weight: 400;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1em;
    text-align: center;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}

h1 {
    /* color: #000000; */
    font-size: 1.25em;
    font-weight: 900;
    margin: 0 0 2em;
}

@media (min-width: 300px) {
    h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 450px) {
    h1 {
        font-size: 2.75em;
    }
}

@media (min-width: 760px) {
    h1 {
        font-size: 4.25em;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 5.25em;
        margin: 0 0 1em;
    }
}

p {
    color: #fff;
    font-size: 12px;
}

@media (min-width: 600px) {
    p {
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        top: 90%;
    }
}

@media (max-height: 500px) {
    p {
        left: 0;
        position: relative;
        top: 0;
        transform: translate(0, 0);
    }
}


.btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

@media (min-width: 600px) {
    .btn {
        margin: 0 1em 2em;
    }
}

.btn:hover {
    text-decoration: none;
}

.btn-4 {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    margin: 0 0 2em;
}

.btn-4 span {
    z-index: 20;
}

.btn-4:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-4:hover:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.header-class{
    height: 100vh;
    text-align: center;
    margin: auto;
    padding-top: 35vh;
    color: rgba(0, 0, 0, 0.674) !important;
}

a{
    color: rgba(0, 0, 0, 0.674);
    text-decoration: none;
}

:root {
    font-size: 20px;
    box-sizing: inherit;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }
  
  body {
    color: #000000;
    background:
      url(https://wallpapers.com/images/hd/aesthetic-ipad-gradient-jx6on8ppcty3ecaf-jx6on8ppcty3ecaf.jpg)
      center / cover no-repeat fixed; 
      overflow-x: hidden;
  }
  
  .card {
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 500px;
    height: 300px;
    padding: 35px;
    margin: 40px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    color: #000000;
  
    backdrop-filter: blur(15px);

    font-size: xx-large;
    text-align: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }
  
  /* scroll down animation */
  .feather{
    animation-name: oscillate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  @keyframes oscillate {
    from{
        translate: 0px;
    }
    12.5%{
        translate: 0px 2.5px;
    }
    25%{
        translate: 0px 5px;
    }
    50%{
        translate: 0px 10px;
    }
    62.5%{
        translate: 0px 7.5px;
    }
    75%{
        translate: 0px 5px;
    }

    to{
        translate: 0px 0px;
    }
  }