body{
	background: linear-gradient(#61d6f3,#ffce79);
}
#allPage {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
}
h1 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-variant: small-caps;
	text-transform: capitalize;
	font-weight: bold;
	text-align: center;
	color: rgba(0, 0, 0, 0.674);
}

legend {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: blue;
	font-size: large;
}
footer {
	color: #FFFFFF;
	background-color: #EA8326;
}
a:link {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: underline;
}
