* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: url(./background.webp);
}

.container {
  width: 40%;
  margin: 5vh auto;
  height: fit-content;
  background-color: cornsilk;
  border: 3px solid black;
  border-radius: 15px;
}

header {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  margin: 12px;
}

form {
  margin: 10px;
  gap: 10px;
  padding-top: 10px;
}

.blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
}

label {
  text-align: center;
  font-size: x-large;
}

.input__fields {
  display: flex;
  flex-direction: column;
  flex: wrap;
  gap: 10px;
  width: 15%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

input {
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  margin: auto;
  outline: none;
  width: 100%;
  min-height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#age {
  text-align: center;
  display: block;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  font-size: 20px;
  word-spacing: 2.7px;
  line-height: 1.5;
  font-weight: normal;
}

footer {
  padding-bottom: 5px;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot {
  width: 95%;
  margin: auto;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  margin: 10px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

@media only screen and (max-width: 820px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .blocks {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: auto;
  }
  .input__fields {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }
  input[type="text"] {
    gap: 0px;
    margin-left: 10px;
    width: 70%;
  }
  label {
    font-size: x-large;
    width: 100px;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: x-large;
  }
  label {
    font-size: larger;
  }
  #age {
    font-size: large;
  }
}

@media only screen and (max-width: 280px) {
  h1 {
    font-size: medium;
  }
  label {
    font-size: large;
    justify-content: center;
    align-items: center;
  }
  #age {
    font-size: medium;
  }
}
