body{
    background: linear-gradient(#61d6f3,#ffce79);
}
.body{
    margin-left: 21%;
    margin-top: 2%;
    
}
.all{
        background: linear-gradient(#61d6f3,#ffce79);
        width: 700px;
        height: 220px;
        padding: 10px;
        border: 5px solid gray;
        margin: 10px;
        
      }

.tri-btn{
    height: 30px;
    margin-top: 10px;
    border-radius: 12px;
    margin-left: 280px;
    color: white;
    cursor: pointer;
    background-color: blue;
}
.tri-btn:hover{
    background-color: rgb(0, 14, 95);
    box-shadow: 2px 1px 1px solid greenyellow;
}
.cir-btn{
    height: 30px;   
    border-radius: 12px;
    margin-left: 280px;
    color: white;
    cursor: pointer;
    background-color: blue;
}
.cir-btn:hover{
    background-color: rgb(0, 14, 95);
    box-shadow: 2px 1px 1px solid greenyellow;
}
.area_h3{
    color: green;
    margin-left: 170px;
}
.quad{
        background: linear-gradient(#61d6f3,#ffce79);
        width: 700px;
        height: 250px;
        padding: 10px;
        border: 5px solid gray;
        margin: 10px;
        margin-left: 22%;
}
#rectangle{
    display: none;
}
#square{
    display: none;
}
#select{
    height: 30px;   
    border-radius: 12px;
   /* display: block; */
    color: white;
    cursor: pointer;
    background-color: blue;
}
.sel-div{
    text-align: center;
}
#Rhombus{
    display: none;
}
#no{
    display: none;
}