* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(#61d6f3,#ffce79);
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1{
    text-align: center;
}
.wrapper{
    width: 450px;
    padding: 10px;
    position: relative;
}
.wrapper .currency_exchange{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.currency_exchange select{
    width: 30%;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    background: #43bbbb;
    color: #000;
    margin: .2em 0;
    padding: 0 1em;
    border: none;
}
.currency_exchange select::-webkit-scrollbar{
    width: 0;
}
.currency_exchange input{
    width: 95%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1em;
    margin: .2em 0;
    background: #ffffff;
    color: black;
    padding: 0 1em;
}
.wrapper button{
    width: 30%;
    height: 40px;
    background: blue;
    color: white;
    border: none;
    outline: none;
    font-size: 1.1em;
    margin: .5em 0;
    font-weight: 600;
    cursor: pointer;
}